[general]
instance.name =
# Specify EC2 instance id here (e.g. i-0e0a905d78854fdd8) if setup fails with missing id error.
instance.id =
polling.interval.secs = 60
run.user = cwagent

[dcgm-exporter]
prometheus.port = 9400
package.version = dcgm-exporter:3.3.5-3.4.0-ubuntu22.04
