apiVersion: v1
kind: ConfigMap
metadata:
  name: turbodif-config-{{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
data:
  turbodif-config.json: |-
    {
      "communicationConfig": {
        "serverMeta": {
          "version": "{{ .Values.serverMeta.version }}",
          "turboServer": "{{ .Values.serverMeta.turboServer }}"
        },
        "restAPIConfig": {
          "opsManagerUserName": "{{ .Values.restAPIConfig.opsManagerUserName }}",
          "opsManagerPassword": "{{ .Values.restAPIConfig.opsManagerPassword }}"
        },
        "sdkProtocolConfig": {
           "registrationTimeoutSec": {{ .Values.sdkProtocolConfig.registrationTimeoutSec }},
           "restartOnRegistrationTimeout": {{ .Values.sdkProtocolConfig.restartOnRegistrationTimeout }}
        }
      {{- if .Values.targetName }}
      },
      "targetConfig": {
        "targetName": "{{ .Values.targetName }}",
        "targetAddress": "http://127.0.0.1:8081/metrics"
      }
      {{- end }}
    }
  turbo-autoreload.config: |-
    {
      "logging": {
        "level": {{ .Values.logging.level }}
      }
    }
